* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
    border: thin solid black;
    border-radius: 10px;
    background-color: #DDDDDD;
    text-align: center;
    width: 250px;
    height: 420px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    font-size: 180%;
    background-color: #cef5f7;
    text-align: right;
    border: thin solid black;
    width: 230px;
    height: 80px;
    line-height: 80px;
    padding-right: 10px;
    margin: 20px auto;
}

.button-space {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.key {
    background-color: #ececec;
    border: 1px solid #777777;
    border-radius: 10px;
    font-size: 30px;
    width: 60px;
    height: auto;
    margin: 1px;
    flex: auto;
    transition:all 0.05s;
    background-color: ;
}


button.top {
    width: 110px;
}

.hit {
    transform: scale(1.1);
    opacity: 0;
}
